
<div class="page">
  <div>
    <nav>
      <app-navbar></app-navbar>
      <app-sidebar></app-sidebar>
      <app-chat></app-chat>
    </nav>
  <section class="tab2">
    <div>
      <h1>Historique</h1>
      <div *ngIf="historique.length > 0; else noData">
        <table>
          <thead>
            <tr>
              <th>Num°</th>
              <th>Code client</th>
              <th>Email</th>
              <th>Date</th>
              <th>B50</th>
              <th>B20</th>
              <th>B10</th>
              <th>B5</th>
              <th>Monnaie</th>
              <th>Etat</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of historique">
              <td>{{ item.codeAP }}</td>
              <td>{{ item.client?.code || item.responsable?.codeResponsable }}</td>
              <td>{{ item.client?.email || item.responsable?.email }}</td>
              <td>{{ item.createdAt | date:'dd-MM-yyyy' }}</td>
              <td>{{ item.b50 }}</td>
              <td>{{ item.b20 }}</td>
              <td>{{ item.b10 }}</td>
              <td>{{ item.b5 }}</td>
              <td>{{ item.monnaie }}</td>
              <td>{{ item.state }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #noData>
        <p>No historique data available.</p>
      </ng-template>
    </div>
</section>
</div>

